header{
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxes-groups{
    display: flex;
    gap: 3em;
}

.box{
    border: 1px solid #ccc;
    width: 50px;    /* or some fixed size */
    height: 50px;
    box-sizing: border-box
}

.box:hover{
    border: 1px solid #ec2e2e;
}