header{
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.placement-board{
    /* width: 100vw;
    height: 100vh; */
}

.labels{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
}

.boxes-groups{
    display: flex;
    justify-content: center;
    gap: 3em;
}

.board-group{
    text-align: center;
}

.boxes{
    border: 1px solid gray;
}

.box{
    border: 1px solid gray;
    width: 50px;    /* or some fixed size */
    height: 50px;
    box-sizing: border-box
}

.box:hover{
    border: 1px solid #ec2e2e;
}

.startgame-button{
    margin-top: 1em;
}

.ship{
    background-color: yellow;
}

.hit{
    background-color: lightcoral;
}